/* Dashboard.css */

.dashboard-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .chart-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .chart-container h2 {
    margin-top: 0;
  }
  
  .overview-card {
    
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    box-sizing: border-box; /* Include padding and border in the total width */
  }
  
  .overview-card h6 {
    color: #080808;
    font-weight: bold;
    margin-bottom: 5px; /* Reduce margin */
    font-size: 20px; /* Reduce font size */
    font-family: 'fangsong';
  }
  
  
  .overview-card .count {
    font-size: 1.5em; /* Reduce font size */
    color: #c49a0e;
    font-family: 'fangsong';
    font-weight: bold;
  }
  
  .overview-card:hover {
    background-color: #e0f7fa;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }